<template>
  <div
    class="lesson-list-item tw-flex tw-items-center tw-block tw-shadow-full tw-rounded-lg tw-mb-6 tw-py-6 tw-px-6 md:tw-py-4 hover:tw-bg-gray-panel hover:tw-rounded-lg incomplete"
  >
    <div class="tw-w-full tw-flex md:tw-items-center">
      <div class="lesson-list-item-thumbnail tw-mr-6 tw-relative tw-mb-0 tw-self-start">
        <a :href="data.link" class="tw-block tw-pt-3 md:tw-pt-0">
          <img :src="data.image" width="100%" :alt="data.title">
        </a>
      </div>
      <div class="md:tw-flex md:tw-justify-between md:tw-items-center md:tw-w-full tw-flex-1">
        <h5 class="tw-font-semibold md:tw-mr-6 md:tw-mb-0 tw-mb-1" style="flex: 2.5 1 0%;">
          <a :href="data.link" class="lesson-list-title tw-font-bold tw-text-lg tw-text-black">
            <span class="ais-highlight" v-text="data.title">
              <!-- <em>Laravel</em> Testing Crash Course -->
            </span>
            <span
              class="tw-hidden md:tw-block md:tw-text-xs tw-text-gray-600 tw-mt-1"
              v-text="data.date"
            ></span>
          </a>
        </h5>
        <p
          class="tw-pb-6 md:tw-pb-0 md:tw-text-sm tw-mb-2 md:tw-mb-0 md:tw-mr-4 md:tw-px-8 tw-tracking-tight"
          style="flex: 2.2 1 0%;"
        >
          <a
            :href="data.link_other"
            class="tw-text-gray-600 md:tw-text-gray-800 md:tw-block hover:tw-text-blue-500 tw-font-bold tw-text-xs"
            v-text="data.name"
          ></a>
          <span class="md:tw-hidden">—</span>
          <a
            :href="data.link"
            class="tw-text-gray-600 md:tw-text-xs hover:tw-text-blue-500 md:tw-uppercase md:tw-font-semibold"
            v-text="data.episode"
          ></a>
        </p>
        <div class="tw-flex tw-justify-between tw-items-center">
          <div class="md:tw-hidden expanded-card-difficulty tw-flex tw-items-center">
            <div class="difficulty-meter tw-mr-2 is-intermediate">
              <span class="tw-mb-1 tw-rounded tw-block tw-w-3 tw-h-1"></span>
              <span class="tw-mb-1 tw-rounded tw-block tw-w-3 tw-h-1"></span>
              <span class="tw-block tw-rounded tw-w-3 tw-h-1"></span>
            </div>
            <div class="tw-text-gray-800 tw-text-xs">
              <span v-text="data.difficulty"></span>
              <br>Difficulty
            </div>
          </div>
          <a
            :href="data.link_other"
            :data-color="data.color"
            :style="{color: data.color}"
            v-text="data.topic"
            :class="{'is-laravel': data.topic=='Laravel','is-tooling': data.topic == 'Tooling'}"
            class="lesson-skill-button hover:tw-text-white md:tw-w-28 md:tw-ml-4 tw-button tw-text-center tw-inline-block tw-px-5 tw-py-25 md:tw-py-2 tw-font-muli tw-text-2xs tw-tracking-normal tw-font-bold"
          ></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Object
  }
};
</script>

<style scoped>
.lesson-skill-button.is-laravel:hover {
  color: #fff !important;
  background: #e05676;
}
.lesson-skill-button.is-tooling:hover {
  color: #fff !important;
  background: #946cd1;
}

.hover\:tw-text-white:hover {
  color: #fff;
}
.lesson-skill-button {
  border: 1px solid;
  border-radius: 18px;
}
img {
  width: 50px;
}
.hover\:tw-rounded-lg:hover {
  border-radius: 0.5rem;
}
.hover\:tw-bg-gray-panel:hover {
  background-color: #f6f6f6;
}
@media (max-width: 768px) {
  .tw-shadow-full {
    box-shadow: 0 5px 11px 0 rgba(36, 37, 38, 0.08);
  }
}
</style>

