<template>
  <div class="ais-refinement-list__item">
    <label class="ais-refinement-list__label">
      <input
        type="checkbox"
        class="ais-refinement-list__checkbox"
        value="routing"
        v-model="data.value"
      >
      <span class="ais-refinement-list__value" v-text="data.name"></span>
      <span class="ais-refinement-list__count" v-text="data.count"></span>
    </label>
  </div>
</template>

<script>
export default {
  props: {
    data: Object
  }
};
</script>


<style scoped>
.ais-index .filterable-item form[role="search"] {
  display: flex;
  justify-content: space-between;
}

.ais-refinement-list__item:hover {
  background-color: #f6f6f6;
  border-radius: 0.5rem;
}

.ais-refinement-list__item {
  min-height: 35px;
  padding: 0.25rem 0.5rem 0.25rem 1rem;
}

.ais-refinement-list__item label {
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 2em;
}

.ais-refinement-list__item label input[type="checkbox"] {
  margin-right: 12px;
}

.ais-refinement-list__value {
  flex-grow: 1;
}

.ais-refinement-list__value {
  color: #22292f;
  padding-left: 0.5rem;
  padding-right: 1.25rem;
  line-height: 1.25;
  font-size: 0.75rem;
  max-width: 250px;
}

.ais-refinement-list__count {
  background-color: #f6f6f6;
  color: #3d4852;
  font-size: 0.75rem;
  margin-left: auto;
}

.ais-refinement-list__count,
.tag {
  align-items: center;
  color: #4d545d;
  display: inline-flex;
  font-size: 12px;
  height: 24px;
  justify-content: center;
  line-height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

.ais-refinement-list__count,
.number,
.tag {
  background-color: #f5f7fa;
  border-radius: 290486px;
  vertical-align: top;
}

@media (min-width: 992px) {
  .ais-refinement-list__value {
    font-size: 1rem;
  }
  .ais-refinement-list__count {
    font-size: 1rem;
  }
}
</style>



