<template>
  <div class="tw-flex-1 md:tw-ml-6 tw-mb-8 lg:tw-mb-0">
    <div class="tw-flex tw-rounded-lg tw-h-full" :style="{'box-shadow': data.color}">
      <div
        class="tw-rounded-lg tw-flex tw-flex-col tw-justify-center tw-items-center tw-px-5 tw-py-3 bg-gradient-tooling"
        :style="{backgroundImage: data.background}"
      >
        <a :href="data.link" class="tw-mb-2 tw-w-16">
          <img :src="data.image" :alt="data.title">
        </a>
        <a
          :href="data.link"
          class="expanded-card-skill-button tw-bg-black-transparent-10 hover:tw-bg-white hover:tw-text-gray-800 tw-rounded-full tw-py-2 tw-leading-none tw-px-4 tw-text-white tw-uppercase tw-text-3xs tw-font-semibold tw-text-center"
          v-text="data.name"
        ></a>
      </div>
      <div class="tw-flex tw-flex-col tw-justify-between tw-px-3 tw-py-3">
        <div>
          <h3 class="tw-text-base tw-font-semibold tw-tracking-tight link tw-leading-none">
            <a
              href="/series/learn-laravel-mix/episodes/5"
              title="Adding PostCSS Plugins"
              class="tw-text-black"
              v-text="data.text"
            ></a>
          </h3>
          <span
            class="tw-hidden md:tw-block md:tw-text-xs tw-text-gray-600 tw-font-semibold"
            v-text="data.date"
          ></span>
        </div>
        <div>
          <h5 class="tw-text-xs tw-font-semibold tw--mb-1">
            <a
              :href="data.link_other"
              :title="data.title"
              class="link tw-text-black tw-leading-none"
              :v-text="data.title"
            ></a>
          </h5>
          <a
            :href="data.link"
            class="tw-text-gray-600 md:tw-text-xs hover:tw-text-blue-500 md:tw-uppercase md:tw-font-semibold"
            v-text="data.episode"
          ></a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    data: Object
  }
};
</script>


<style>
</style>

