<template>
  <div class="tw-overflow-x-hidden">
    <div class="section home banner tw-relative">
      <Header/>
      <banner-clip/>
      <div class="banner-child tw-flex">
        <div class="lg:tw-w-1/2 tw-text-center tw-px-6 lg:tw-text-left lg:tw-pl-0 lg:tw-pr-12">
          <div class="tw-relative">
            <div class="tw-absolute tw-flex-col tw-hidden lg:tw-flex tw-pin-b">
              <a class="light-text tw-mb-1" href="/">
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="18px"
                  height="18px"
                  viewBox="0 0 90 90"
                  style="enable-background:new 0 0 90 90;"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      :style="social_hover[0]"
                      id="YouTube"
                      d="M70.939,65.832H66l0.023-2.869c0-1.275,1.047-2.318,2.326-2.318h0.315c1.282,0,2.332,1.043,2.332,2.318
                                L70.939,65.832z M52.413,59.684c-1.253,0-2.278,0.842-2.278,1.873V75.51c0,1.029,1.025,1.869,2.278,1.869
                                c1.258,0,2.284-0.84,2.284-1.869V61.557C54.697,60.525,53.671,59.684,52.413,59.684z M82.5,51.879v26.544
                                C82.5,84.79,76.979,90,70.23,90H19.771C13.02,90,7.5,84.79,7.5,78.423V51.879c0-6.367,5.52-11.578,12.271-11.578H70.23
                                C76.979,40.301,82.5,45.512,82.5,51.879z M23.137,81.305l-0.004-27.961l6.255,0.002v-4.143l-16.674-0.025v4.073l5.205,0.015v28.039
                                H23.137z M41.887,57.509h-5.215v14.931c0,2.16,0.131,3.24-0.008,3.621c-0.424,1.158-2.33,2.388-3.073,0.125
                                c-0.126-0.396-0.015-1.591-0.017-3.643l-0.021-15.034h-5.186l0.016,14.798c0.004,2.268-0.051,3.959,0.018,4.729
                                c0.127,1.357,0.082,2.939,1.341,3.843c2.346,1.69,6.843-0.252,7.968-2.668l-0.01,3.083l4.188,0.005L41.887,57.509L41.887,57.509z
                                M58.57,74.607L58.559,62.18c-0.004-4.736-3.547-7.572-8.356-3.74l0.021-9.239l-5.209,0.008l-0.025,31.89l4.284-0.062l0.39-1.986
                                C55.137,84.072,58.578,80.631,58.57,74.607z M74.891,72.96l-3.91,0.021c-0.002,0.155-0.008,0.334-0.01,0.529v2.182
                                c0,1.168-0.965,2.119-2.137,2.119h-0.766c-1.174,0-2.139-0.951-2.139-2.119V75.45v-2.4v-3.097h8.954v-3.37
                                c0-2.463-0.063-4.925-0.267-6.333c-0.641-4.454-6.893-5.161-10.051-2.881c-0.991,0.712-1.748,1.665-2.188,2.945
                                c-0.444,1.281-0.665,3.031-0.665,5.254v7.41C61.714,85.296,76.676,83.555,74.891,72.96z M54.833,32.732
                                c0.269,0.654,0.687,1.184,1.254,1.584c0.56,0.394,1.276,0.592,2.134,0.592c0.752,0,1.418-0.203,1.998-0.622
                                c0.578-0.417,1.065-1.04,1.463-1.871l-0.099,2.046h5.813V9.74H62.82v19.24c0,1.042-0.858,1.895-1.907,1.895
                                c-1.043,0-1.904-0.853-1.904-1.895V9.74h-4.776v16.674c0,2.124,0.039,3.54,0.102,4.258C54.4,31.385,54.564,32.069,54.833,32.732z
                                M37.217,18.77c0-2.373,0.198-4.226,0.591-5.562c0.396-1.331,1.107-2.401,2.137-3.208c1.027-0.811,2.342-1.217,3.941-1.217
                                c1.345,0,2.497,0.264,3.459,0.781c0.967,0.52,1.713,1.195,2.23,2.028c0.527,0.836,0.885,1.695,1.076,2.574
                                c0.195,0.891,0.291,2.235,0.291,4.048v6.252c0,2.293-0.092,3.98-0.271,5.051c-0.177,1.074-0.557,2.07-1.146,3.004
                                c-0.58,0.924-1.329,1.615-2.237,2.056c-0.918,0.445-1.968,0.663-3.154,0.663c-1.325,0-2.441-0.183-3.361-0.565
                                c-0.923-0.38-1.636-0.953-2.144-1.714c-0.513-0.762-0.874-1.69-1.092-2.772c-0.219-1.081-0.323-2.707-0.323-4.874L37.217,18.77
                                L37.217,18.77z M41.77,28.59c0,1.4,1.042,2.543,2.311,2.543c1.27,0,2.308-1.143,2.308-2.543V15.43c0-1.398-1.038-2.541-2.308-2.541
                                c-1.269,0-2.311,1.143-2.311,2.541V28.59z M25.682,35.235h5.484l0.006-18.96l6.48-16.242h-5.998l-3.445,12.064L24.715,0h-5.936
                                l6.894,16.284L25.682,35.235z"
                    ></path>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </a>
              <a class="light-text tw-mb-1" href="/">
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="18px"
                  height="18px"
                  viewBox="0 0 49.652 49.652"
                  style="enable-background:new 0 0 49.652 49.652;"
                  xml:space="preserve"
                >
                  <g>
                    <g>
                      <path
                        :style="social_hover[1]"
                        d="M24.826,0C11.137,0,0,11.137,0,24.826c0,13.688,11.137,24.826,24.826,24.826c13.688,0,24.826-11.138,24.826-24.826
                                C49.652,11.137,38.516,0,24.826,0z M35.901,19.144c0.011,0.246,0.017,0.494,0.017,0.742c0,7.551-5.746,16.255-16.259,16.255
                                c-3.227,0-6.231-0.943-8.759-2.565c0.447,0.053,0.902,0.08,1.363,0.08c2.678,0,5.141-0.914,7.097-2.446
                                c-2.5-0.046-4.611-1.698-5.338-3.969c0.348,0.066,0.707,0.103,1.074,0.103c0.521,0,1.027-0.068,1.506-0.199
                                c-2.614-0.524-4.583-2.833-4.583-5.603c0-0.024,0-0.049,0.001-0.072c0.77,0.427,1.651,0.685,2.587,0.714
                                c-1.532-1.023-2.541-2.773-2.541-4.755c0-1.048,0.281-2.03,0.773-2.874c2.817,3.458,7.029,5.732,11.777,5.972
                                c-0.098-0.419-0.147-0.854-0.147-1.303c0-3.155,2.558-5.714,5.713-5.714c1.644,0,3.127,0.694,4.171,1.804
                                c1.303-0.256,2.523-0.73,3.63-1.387c-0.43,1.335-1.333,2.454-2.516,3.162c1.157-0.138,2.261-0.444,3.282-0.899
                                C37.987,17.334,37.018,18.341,35.901,19.144z"
                      ></path>
                    </g>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </a>
              <a class="light-text" href="/">
                <svg
                  version="1.1"
                  id="Capa_1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  x="0px"
                  y="0px"
                  width="18px"
                  height="18px"
                  viewBox="0 0 438.549 438.549"
                  style="enable-background:new 0 0 438.549 438.549;"
                  xml:space="preserve"
                >
                  <g>
                    <path
                      :style="social_hover[2]"
                      d="M409.132,114.573c-19.608-33.596-46.205-60.194-79.798-79.8C295.736,15.166,259.057,5.365,219.271,5.365
                                c-39.781,0-76.472,9.804-110.063,29.408c-33.596,19.605-60.192,46.204-79.8,79.8C9.803,148.168,0,184.854,0,224.63
                                c0,47.78,13.94,90.745,41.827,128.906c27.884,38.164,63.906,64.572,108.063,79.227c5.14,0.954,8.945,0.283,11.419-1.996
                                c2.475-2.282,3.711-5.14,3.711-8.562c0-0.571-0.049-5.708-0.144-15.417c-0.098-9.709-0.144-18.179-0.144-25.406l-6.567,1.136
                                c-4.187,0.767-9.469,1.092-15.846,1c-6.374-0.089-12.991-0.757-19.842-1.999c-6.854-1.231-13.229-4.086-19.13-8.559
                                c-5.898-4.473-10.085-10.328-12.56-17.556l-2.855-6.57c-1.903-4.374-4.899-9.233-8.992-14.559
                                c-4.093-5.331-8.232-8.945-12.419-10.848l-1.999-1.431c-1.332-0.951-2.568-2.098-3.711-3.429c-1.142-1.331-1.997-2.663-2.568-3.997
                                c-0.572-1.335-0.098-2.43,1.427-3.289c1.525-0.859,4.281-1.276,8.28-1.276l5.708,0.853c3.807,0.763,8.516,3.042,14.133,6.851
                                c5.614,3.806,10.229,8.754,13.846,14.842c4.38,7.806,9.657,13.754,15.846,17.847c6.184,4.093,12.419,6.136,18.699,6.136
                                c6.28,0,11.704-0.476,16.274-1.423c4.565-0.952,8.848-2.383,12.847-4.285c1.713-12.758,6.377-22.559,13.988-29.41
                                c-10.848-1.14-20.601-2.857-29.264-5.14c-8.658-2.286-17.605-5.996-26.835-11.14c-9.235-5.137-16.896-11.516-22.985-19.126
                                c-6.09-7.614-11.088-17.61-14.987-29.979c-3.901-12.374-5.852-26.648-5.852-42.826c0-23.035,7.52-42.637,22.557-58.817
                                c-7.044-17.318-6.379-36.732,1.997-58.24c5.52-1.715,13.706-0.428,24.554,3.853c10.85,4.283,18.794,7.952,23.84,10.994
                                c5.046,3.041,9.089,5.618,12.135,7.708c17.705-4.947,35.976-7.421,54.818-7.421s37.117,2.474,54.823,7.421l10.849-6.849
                                c7.419-4.57,16.18-8.758,26.262-12.565c10.088-3.805,17.802-4.853,23.134-3.138c8.562,21.509,9.325,40.922,2.279,58.24
                                c15.036,16.18,22.559,35.787,22.559,58.817c0,16.178-1.958,30.497-5.853,42.966c-3.9,12.471-8.941,22.457-15.125,29.979
                                c-6.191,7.521-13.901,13.85-23.131,18.986c-9.232,5.14-18.182,8.85-26.84,11.136c-8.662,2.286-18.415,4.004-29.263,5.146
                                c9.894,8.562,14.842,22.077,14.842,40.539v60.237c0,3.422,1.19,6.279,3.572,8.562c2.379,2.279,6.136,2.95,11.276,1.995
                                c44.163-14.653,80.185-41.062,108.068-79.226c27.88-38.161,41.825-81.126,41.825-128.906
                                C438.536,184.851,428.728,148.168,409.132,114.573z"
                    ></path>
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </a>
            </div>
            <img src="../assets/img/computer.svg" class="lg:tw-hidden" alt="computer">
            <h1
              class="lg:tw-pl-16 xl:tw-pl-32 tw-mb-2 md:tw-text-white lg:tw-text-black tw-font-light"
            >Screencasts for the
              <br>
              <strong class="md:tw-text-white lg:tw-text-black">Modern Developer</strong>
            </h1>
            <p
              class="lg:w-4/5 lg:tw-pl-16 xl:tw-pl-32 md:tw-text-white lg:tw-text-black light-gray-500 tw-leading-normal"
            >
              Push your web developments skills to the next level, through expert screencasts on Laravel, Vue, and so much more.
              <b
                class="md:tw-text-white lg:tw-text-black light-gray-500"
              >Ready to binge?</b>
            </p>
          </div>
          <div
            class="tw-flex tw-flex-col sm:tw-flex-row banner-options tw-mt-6 md:tw-mt-12 lg:tw-pl-16 xl:tw-pl-32 tw-justify-center lg:tw-justify-start"
          >
            <a
              href="/"
              class="font-sm sm:tw-mr-5 tw-mb-4 sm:tw-mb-0 tw-px-6 tw-py-4 tw-font-bold tw-text-white"
            >BROWSE COURSES</a>
            <a href="/" class="font-sm tw-px-4 tw-py-3 tw-font-bold">DISCUSSION FORUM</a>
          </div>
        </div>
        <div class="tw-hidden lg:tw-w-1/2 lg:tw-flex tw-justify-center">
          <img src="../assets/img/computer.svg" alt="computer">
        </div>
      </div>
      <div class="scroll-down tw-w-full tw-text-center tw-absolute tw-hidden lg:tw-block">
        <a href="#concise" @click="smoothScroll()">
          <svg
            width="23px"
            height="28px"
            viewBox="0 0 23 28"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <title>Group Copy 2</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g
              id="Laracasts-Website"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g id="Home" transform="translate(-710.000000, -686.000000)" fill-rule="nonzero">
                <g
                  id="Group-Copy-2"
                  transform="translate(721.500000, 700.000000) rotate(-270.000000) translate(-721.500000, -700.000000) translate(708.000000, 689.000000)"
                >
                  <path
                    d="M2.9506232,13.3571429 L0.977948226,13.3571429 C0.437842335,13.3571429 -4.61852778e-14,13.0053666 -4.61852778e-14,12.5714286 C-4.61852778e-14,12.1374906 0.437842335,11.7857143 0.977948226,11.7857143 L2.9506232,11.7857143 C3.49072909,11.7857143 3.92857143,12.1374906 3.92857143,12.5714286 C3.92857143,13.0053666 3.49072909,13.3571429 2.9506232,13.3571429 Z"
                    id="Shape"
                    fill="#00CECF"
                  ></path>
                  <path
                    d="M6.87919463,11 L4.90651965,11 C4.36641376,11 3.92857143,10.6482237 3.92857143,10.2142857 C3.92857143,9.7803477 4.36641376,9.42857143 4.90651965,9.42857143 L6.87919463,9.42857143 C7.41930052,9.42857143 7.85714286,9.7803477 7.85714286,10.2142857 C7.85714286,10.6482237 7.41930052,11 6.87919463,11 Z"
                    id="Shape"
                    fill="#00CECF"
                  ></path>
                  <g id="Group-2" transform="translate(3.928571, 0.000000)" fill="#4A4A4A">
                    <path
                      d="M4.08889343,21.941876 L4.08889343,14.8956611 L6.58558096,14.8956611 L6.58558096,17.8460361 L18.9774734,11.6819362 C19.281921,11.5416334 19.5748487,11.3762334 19.8533946,11.1873523 C19.7623505,11.1194864 19.6679007,11.0565952 19.5704367,10.9989393 L6.58350039,4.20536897 L6.58350039,8.47249338 L4.08681286,8.47249338 L4.08681286,0.0174636321 L20.762605,8.74012537 C21.376374,9.08697642 22.7870025,10.0440284 22.6351206,11.40574 C22.4936417,12.709643 20.933212,13.6046044 19.9990347,14.0263924 L4.08473228,21.9482992 L4.08889343,21.941876 Z"
                      id="arrow"
                    ></path>
                    <path
                      d="M10.2345637,13.6598228 L0.980130996,13.6598228 C0.51434554,13.6598228 0.136751823,13.2576416 0.136751823,12.7615259 C0.136751823,12.2654102 0.51434554,11.863229 0.980130996,11.863229 L10.2304295,11.863229 C10.696215,11.863229 11.0738087,12.2654102 11.0738087,12.7615259 C11.0738087,13.2576416 10.696215,13.6598228 10.2304295,13.6598228 L10.2345637,13.6598228 Z"
                      id="Shape"
                    ></path>
                    <path
                      d="M13.5960594,11.3267609 L4.77938655,11.3267609 C4.31466606,11.3267609 3.93793567,10.9245796 3.93793567,10.4284639 C3.93793567,9.93234823 4.31466606,9.530167 4.77938655,9.530167 L13.5960594,9.530167 C14.0607799,9.530167 14.4375103,9.93234823 14.4375103,10.4284639 C14.4375103,10.9245796 14.0607799,11.3267609 13.5960594,11.3267609 Z"
                      id="Shape"
                    ></path>
                  </g>
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>
    </div>

    <div class="section home concise tw-my-5" id="concise" ref="concise">
      <div class="tw-text-center">
        <h1
          class="centered-heading lg:tw-max-w-full tw-font-light"
        >The most concise screencasts for the working developer.</h1>
      </div>

      <div class="tw-flex tw-justify-center tw-my-5">
        <div
          v-for="data in concise"
          :key="data.title"
          class="concise-data tw-py-4 tw-mr-6 tw-text-center"
        >
          <h2 class="tw-font-light" v-text="data.value"></h2>
          <p class="tw-font-light light-gray-500" v-text="data.title"></p>
        </div>
      </div>

      <div class="lg:tw-flex lg:tw-flex-row tw-justify-center course">
        <Courses
          :course="course"
          v-for="course in courses"
          :key="course.name"
          class="tw-hidden lg:tw-block"
        />
        <courses-mobile
          :course="course"
          v-for="course in courses"
          :key="course.id"
          class="lg:tw-hidden"
        />
      </div>

      <div class="tw-text-center tw-my-6 tw-px-8">
        <a href="/" class="menu-border-dark tw-px-8 tw-py-3 tw-block tw-inline">Browse all courses</a>
      </div>
    </div>

    <div class="learn tw-my-5 tw-hidden lg:tw-block">
      <div class="tw-text-center">
        <h1
          class="centered-heading lg:tw-max-w-full tw-font-light tw-m-auto"
        >What will you learn next</h1>
        <h3 class="tw-m-auto tw-font-light tw-my-5 tw-max-w-sm light-gray-500">
          There's no shortage of content at Laracasts.
          Check back most work-days for new lessons on your
          favorite web technologies and techniques.
        </h3>
      </div>

      <div class="learn-box tw-pt-8 carousel">
        <Flickity ref="flickity" :options="flickityOptions">
          <div v-for="(skill,index) in activeskills" :key="index" class="carousel-cell">
            <Skills :skill="skill"/>
            <Skills :skill="inactiveskills[index]" :shift="true"/>
          </div>
        </Flickity>
      </div>

      <div class="tw-text-center tw-pb-12">
        <a href="/" class="menu-border-dark tw-px-8 tw-py-3">Explore More</a>
      </div>
    </div>

    <div class="section home plan-section home tw-my-5">
      <div class="tw-text-center">
        <h1
          class="centered-heading lg:tw-max-w-full tw-font-light"
        >Choose the plan that fits your needs.</h1>
        <h3 class="tw-m-auto tw-font-light tw-my-5 tw-max-w-sm light-gray-500">
          Joining takes less than a minute, and, if your peers are correct,
          is the best decision you'll make all day.
          If you're still on the fence, we have a plan called “monthly” - and it’s not like the gym.
          Seriously, you can cancel it in five seconds if this isn't for you.
        </h3>
      </div>

      <div class="plans-toggle-wrap tw-mx-auto tw-mb-8">
        <div class="plans-toggle tw-flex tw-h-full">
          <div class="plan tw-w-full" :class="{ active: personal }" @click="personal=true">
            <button
              class="tw-block tw-w-full tw-font-bold tw-h-full tw-text-xs tw-uppercase"
              :class="{ 'tw-text-white': personal }"
            >Personal</button>
          </div>
          <div class="plan tw-w-full" :class="{ active: !personal}" @click="personal=false">
            <button
              class="tw-block tw-w-full tw-font-bold tw-h-full tw-text-xs tw-uppercase"
              :class="{ 'tw-text-white': !personal }"
            >Teams</button>
          </div>
        </div>
      </div>

      <div class="plan-box tw-pb-6 lg:tw-max-w-xl tw-m-auto">
        <Plans :personal="personal" :plans="plans"/>
        <div class="tw-pt-6">
          <h5 class="tw-text-center">
            Or we can get you started with a
            <a href="/" class="tw-underline">FORUM</a> account
          </h5>
        </div>
      </div>
    </div>

    <div class="section home tw-py-10 about-him">
      <div class="tw-text-center md:tw-text-left md:tw-max-w-md">
        <h1 class="tw-font-light tw-mb-6">There's a chance you may already know me!</h1>
        <p class="tw-leading-normal tw-mb-4 light-gray-500">
          There's a chance you may already know
          <a href="/" class="tw-underline tw-text-blue-500">me!</a> A veteran in the PHP community,
          I was a co-host on the official
          <a
            href="/"
            class="tw-underline tw-text-blue-500"
          >Laravel podcast</a>, have written successful books,
          <a
            href="/"
            class="tw-underline tw-text-blue-500"
          >built popular packages</a>,
          <a href="/" class="tw-underline tw-text-blue-500">spoken</a> at multiple Laracon conferences, been a guest on
          <a
            href="/"
            class="tw-underline tw-text-blue-500"
          >countless podcasts</a> (including
          <a href="/" class="tw-underline tw-text-blue-500">PHP Town Hall</a>,
          <a href="/" class="tw-underline tw-text-blue-500">Shop Talk</a>,
          <a href="/" class="tw-underline tw-text-blue-500">No Capes</a>,
          and
          <a href="/" class="tw-underline tw-text-blue-500">Full Stack Radio</a>), and have contributed to the largest development
          magazines in the world.
        </p>
        <p class="tw-leading-normal tw-mb-4 light-gray-500">
          And if I may be so bold, I'm very good at teaching this stuff. You won't
          find boring, sleep-inducing slides and diagrams (scored to the tune of
          "umms" and "uhhs") anywhere on this site. No thank you. Instead, I
          record the sorts of lessons that I wish had been available to me all
          those years ago: concise and respectful of your time.
        </p>
        <p class="tw-leading-normal light-gray-500">
          Buy me the equivalent of lunch once a month, and
          <a
            href="/"
            class="tw-underline tw-text-blue-500"
          >I'll teach you</a>
          everything I know about this business.
        </p>
      </div>
    </div>

    <div class="footer-box">
      <Footer/>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header";
import BannerClip from "../components/BannerClip";
import Courses from "../components/Courses";
import CoursesMobile from "../components/CoursesMobile";
import Plans from "../components/Plans";
import Skills from "../components/Skills";
import Footer from "../components/Footer";
import Flickity from "vue-flickity";

export default {
  name: "Home",
  components: {
    Header,
    BannerClip,
    Courses,
    CoursesMobile,
    Plans,
    Skills,
    Flickity,
    Footer
  },
  data() {
    return {
      flickityOptions: {
        pageDots: false,
        wrapAround: true,
        freeScroll: false,
        draggable: false
      },
      social_hover: ["fill:#ccc;", "fill:#ccc;", "fill:#bbb;"],

      personal: true,
      concise: [
        {
          value: 200,
          title: "Hours of Learning"
        },
        {
          value: 903,
          title: "Lessons"
        },
        {
          value: 440,
          title: "Full Series"
        }
      ],
      courses: [
        {
          id: 1,
          name: "Laravel",
          color: "linear-gradient(180deg,#f44881,#ec454f)",
          series: 12,
          videos: 69,
          image: "https://laracasts.com/images/series/2018/laravel-default.svg",
          link: "/"
        },
        {
          id: 2,
          name: "PHP",
          color: "linear-gradient(180deg,#21c8f6,#637bff)",
          series: 13,
          videos: 316,
          image: "https://laracasts.com/images/series/2018/php-default.svg",
          link: "/"
        },
        {
          id: 3,
          name: "Testing",
          color: "linear-gradient(180deg,#6edcc4,#1aab8b)",
          series: 6,
          videos: 167,
          image: "https://laracasts.com/images/series/2018/testing-default.svg",
          link: "/"
        },
        {
          id: 4,
          name: "JavaScript",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          series: 6,
          videos: 252,
          image:
            "https://laracasts.com/images/series/2018/javascript-default.svg",
          link: "/"
        },
        {
          id: 5,
          name: "Tooling",
          color: "linear-gradient(180deg,#8b60ed,#b372bd)",
          series: 10,
          videos: 188,
          image: "https://laracasts.com/images/series/2018/laravel-default.svg",
          link: "/"
        }
      ],
      plans: [
        {
          id: 1,
          name: "Monthly",
          price: 15,
          group: "Personal",
          image: "https://laracasts.com/images/plans/sub-monthly.svg?v=3",
          link: "/",
          text:
            "Be in the know. Fetch an endless stream of input with our monthly plan."
        },
        {
          id: 2,
          name: "Yearly",
          price: 99,
          group: "Personal",
          image: "https://laracasts.com/images/plans/sub-yearly.svg?v=3",
          link: "/",
          text:
            "Set your ocular implants to binge-mode. Go all in, and save 45%."
        },
        {
          id: 3,
          name: "Forever",
          price: 350,
          group: "Personal",
          image: "https://laracasts.com/images/plans/sub-forever.svg?v=3",
          link: "/",
          text:
            "Permanently uplink to our mainframe. Pay once, and access Laracasts forever."
        },
        {
          id: 4,
          name: "Monthly",
          price: 15,
          group: "Team",
          image: "https://laracasts.com/images/plans/sub-forever.svg?v=3",
          link: "/",
          text:
            "If you only require access for one developer, this is the plan for you."
        },
        {
          id: 5,
          name: "Complex Circuit",
          price: 300,
          group: "Team",
          image:
            "https://laracasts.com/images/plans/team-5-developers-icon.svg?v=3",
          link: "/",
          text:
            "Wire your account to support 5 developers with a year’s worth of access to Laracasts!"
        }
      ],
      skills: [
        {
          id: 1,
          name: "Laravel",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 2,
          name: "JavaScript",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 3,
          name: "PHP",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 1,
          name: "VueJs",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 1,
          name: "ReactJs",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 1,
          name: "Angular",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 1,
          name: "Ruby",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 1,
          name: "C++",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 1,
          name: "Django",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        },
        {
          id: 1,
          name: "Python",
          difficulty: "Beginner",
          title: "Eloquent Relationships",
          text:
            "Eloquent make the process of interacting with your database tables as natural and intuitive as possible. It's vital that you recognize and underst...",
          image:
            "https://laracasts.com/images/series/2018/build-an-app-with-tdd.svg",
          color: "linear-gradient(0deg,#f19a1a,#ffc73c)",
          secondarycolor: "#dba112",
          lessons: 12,
          time: 300,
          link: "/"
        }
      ]
    };
  },
  methods: {
    smoothScroll() {
      let pos = this.$refs.concise.getBoundingClientRect();

      var initialY = document.body.scrollTop;
      var y = initialY + pos.top;
      var baseY = (initialY + y) * 0.5;
      var difference = initialY - baseY;
      var startTime = performance.now();

      function step() {
        var normalizedTime = (performance.now() - startTime) / 600;
        if (normalizedTime > 1) normalizedTime = 1;

        window.scrollTo(
          0,
          baseY + difference * Math.cos(normalizedTime * Math.PI)
        );
        if (normalizedTime < 1) window.requestAnimationFrame(step);
      }
      window.requestAnimationFrame(step);
    },
    next() {
      this.$refs.flickity.next();
    },

    previous() {
      this.$refs.flickity.previous();
    }
  },
  computed: {
    activeskills: function() {
      let newarray = [];
      this.skills.forEach((element, index) => {
        if (index % 2 == 0) {
          newarray.push(element);
        }
      });
      return newarray;
    },
    inactiveskills: function() {
      let newarray = [];
      this.skills.forEach((element, index) => {
        if (index % 2 != 0) {
          newarray.push(element);
        }
      });
      return newarray;
    }
  }
};
</script>

<style scoped>
.light-text img {
  color: pink;
}

.banner {
  background-image: url("../assets/img/banner-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.banner-child {
  padding-top: 0;
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .banner {
    background: #2b55b6;
  }
}

@media (min-width: 992px) {
  .banner {
    background: 0;
  }

  .banner-child {
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 520px;
  }
}

@media (min-width: 1200px) {
  .banner {
    background-image: url("../assets/img/banner-bg.svg");
    background-position: 100% top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.concise-data {
  border: 1px dashed rgba(0, 0, 0, 0.15);
  width: 150px;
}

.scroll-down {
  bottom: 50px;
  animation: bounce 5000ms linear 1000ms infinite;
}

@media (min-width: 992px) {
  .course {
    height: 250px;
  }
}

.carousel-cell {
  /* width: 40%; */
  margin-right: 20px;
}

@keyframes bounce {
  0% {
    bottom: 50px;
  }
  73% {
    bottom: 50px;
  }
  75% {
    bottom: 55px;
  }
  83% {
    bottom: 10px;
  }
  85% {
    bottom: 20px;
  }
  90% {
    bottom: 50px;
  }
  100% {
    bottom: 50px;
  }
}
</style>


