<template>
  <div class="tw-overflow-x-hidden">
    <div class="section new-nav tw-relative">
      <Header/>
      <div>
        <div
          class="tw-hidden md:tw-flex md:tw-justify-center tw-text-center md:tw-w-1/2 md:tw-mx-auto"
        >
          <div>
            <a
              href="/series?curated"
              class="tw-block md:tw-px-10 tw-uppercase tw-font-semibold hover:tw-text-white tw-pb-8 tw-text-transparent-50"
            >Series</a>
            <div class="v-portal" style="display: none;"></div>
          </div>
          <a
            href="/search?refinement=type&amp;name=series"
            class="tw-text-white is-active tw-block md:tw-px-10 tw-uppercase tw-text-transparent-50 tw-font-semibold hover:tw-text-white tw-pb-8"
          >Browse</a>
          <a
            href="/podcast"
            class="tw-block md:tw-px-10 tw-uppercase tw-text-transparent-50 tw-font-semibold hover:tw-text-white tw-pb-8"
          >Podcast</a>
          <a
            href="/discuss"
            class="tw-block md:tw-px-10 tw-uppercase tw-text-transparent-50 tw-font-semibold hover:tw-text-white tw-pb-8"
          >Discussions</a>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="xl:tw-px-6">
        <div class="ais-index">
          <div class="md:tw-flex">
            <a
              class="md:tw-hidden tw-z-50 tw-bg-blue-500 hover:tw-bg-blue-600 tw-rounded-full tw-w-16 tw-h-16 tw-text-center tw-flex tw-items-center tw-justify-center tw-fixed tw-shadow-lg"
              style="right: 30px; bottom: 30px;"
              @click="show_mobile_list=!show_mobile_list"
            >
              <img
                src="https://laracasts.com/images/browse-button-mobile.svg"
                alt="Filter Lessons Toggle"
              >
            </a>
            <div v-if="show_mobile_list" class="md:tw-w-1/5 xl:tw-pr-6 tw-mr-8 md:tw-pb-6 sidebar">
              <ul>
                <li class="filterable-item">
                  <form role="search" action class="ais-search-box__form">
                    <div class="search-form tw-bg-gray-panel tw-w-full tw-rounded-full tw-pl-7">
                      <input
                        type="search"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="off"
                        spellcheck="false"
                        class="tw-text-sm ais-input"
                        placeholder="Search"
                        autofocus="autofocus"
                      >
                    </div>
                  </form>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="15"
                          viewBox="0 0 16 15"
                        >
                          <g fill="none" fill-rule="nonzero" stroke="#484848">
                            <path
                              fill="none"
                              stroke-width=".72"
                              d="M8.244 2.33l6.758 4.504a.8.8 0 0 1 0 1.332L8.244 12.67A.8.8 0 0 1 7 12.005v-9.01a.8.8 0 0 1 1.244-.666z"
                            ></path>
                            <path
                              fill="#FFF"
                              stroke-width=".9"
                              d="M2.563 1.066l8.222 5.608a1 1 0 0 1 0 1.652l-8.222 5.608A1 1 0 0 1 1 13.107V1.893a1 1 0 0 1 1.563-.827z"
                            ></path>
                          </g>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Lesson Type</h4>
                    </div>
                    <list-item v-for="(item,index) in lessonType" :key="index" :data="item"/>
                  </div>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="18"
                          height="13"
                          viewBox="0 0 18 13"
                        >
                          <path
                            fill="#484848"
                            fill-rule="nonzero"
                            d="M16.875 1.092H15.74V.686a.35.35 0 0 0-.24-.35 8.976 8.976 0 0 0-2.405-.323c-1.335 0-3.153.315-4.497 1.751C7.265.314 5.434.014 4.103.014a8.976 8.976 0 0 0-2.405.321.35.35 0 0 0-.24.35v.403H.334a.342.342 0 0 0-.334.35v11.185c0 .193.15.35.334.35a.321.321 0 0 0 .163-.045c.033-.018 3.369-1.933 8.025-.7h.08a.318.318 0 0 0 .08 0c4.67-1.244 8.006.668 8.026.7a.32.32 0 0 0 .334 0 .354.354 0 0 0 .166-.302V1.442c0-.193-.149-.35-.333-.35zM.667 12.066V1.792h.797v8.782a.343.343 0 0 0 .384.35c.69-.11 1.387-.169 2.085-.175a8.276 8.276 0 0 1 2.848.452 11.731 11.731 0 0 0-6.114.865zm3.266-2.013a13.99 13.99 0 0 0-1.815.122V.962a8.782 8.782 0 0 1 1.978-.23c1.248 0 2.969.3 4.163 1.715l.01 8.723c-.694-.477-2.048-1.117-4.336-1.117zm5.003-7.606C10.13 1.047 11.851.731 13.1.731a8.82 8.82 0 0 1 1.978.231v9.213a13.987 13.987 0 0 0-1.805-.126c-2.275 0-3.632.64-4.336 1.117V2.447zm7.602 9.62a11.733 11.733 0 0 0-6.128-.866 8.295 8.295 0 0 1 2.862-.452c.703.005 1.404.062 2.098.172a.336.336 0 0 0 .38-.294.366.366 0 0 0 .004-.056V1.792h.797l-.013 10.274z"
                          ></path>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Skill Type</h4>
                    </div>
                    <list-item v-for="(item,index) in skillType" :key="index" :data="item"/>
                  </div>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="15"
                          viewBox="0 0 10 15"
                        >
                          <g
                            fill="#000"
                            fill-opacity="0"
                            fill-rule="nonzero"
                            stroke="#484848"
                            stroke-width=".9"
                            transform="translate(1 1)"
                          >
                            <rect width="8" height="3" y="10" rx="1.5"></rect>
                            <rect width="8" height="3" y="5" rx="1.5"></rect>
                            <rect width="8" height="3" rx="1.5"></rect>
                          </g>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Difficulty</h4>
                    </div>
                    <list-item v-for="(item,index) in difficulty" :key="index" :data="item"/>
                  </div>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list limited">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="17"
                          height="15"
                          viewBox="0 0 17 15"
                        >
                          <g fill="#000" fill-rule="nonzero">
                            <path
                              d="M16.717 15H.283A.278.278 0 0 1 0 14.727V3.803c0-.151.127-.274.283-.274h16.434c.156 0 .283.123.283.274v10.924a.278.278 0 0 1-.283.273zm-16.15-.546h15.866V4.076H.567v10.378z"
                            ></path>
                            <path
                              d="M14.93 4.412H2.07c-.155 0-.28-.148-.28-.331V2.096c0-.183.125-.331.28-.331h12.86c.155 0 .28.148.28.33v1.986c0 .183-.125.33-.28.33zM2.35 3.75H14.65V2.426H2.35V3.75z"
                            ></path>
                            <path
                              d="M13.148 2.647H3.852c-.15 0-.273-.148-.273-.33V.33C3.579.148 3.7 0 3.852 0h9.296c.15 0 .273.148.273.331v1.985c0 .183-.122.331-.273.331zm-9.022-.662h8.748V.662H4.126v1.323zM6.796 11.47a.515.515 0 0 1-.268-.076.557.557 0 0 1-.265-.482V6.734c0-.201.1-.381.265-.482.166-.1.372-.1.537 0l3.409 2.09c.164.101.263.28.263.48 0 .201-.099.38-.263.482l-3.408 2.089a.514.514 0 0 1-.27.078zm.005-4.737l-.012 4.18 3.42-2.09-3.408-2.09z"
                            ></path>
                          </g>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Series</h4>
                    </div>
                    <list-item v-for="(item,index) in series" :key="index" :data="item"/>
                    <div v-if="show_series_more">
                      <list-item v-for="(item,index) in series_more" :key="index" :data="item"/>
                    </div>
                  </div>
                  <div class="ais-refinement-list-view-more tw-mt-1">
                    <a
                      class="tw-font-bold tw-flex tw-items-center"
                      @click="show_series_more = true"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        style="margin-right: 18px;"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M12.804 2.196a7.505 7.505 0 0 0-10.608 0 7.505 7.505 0 0 0 0 10.608 7.505 7.505 0 0 0 10.608 0c2.928-2.927 2.928-7.698 0-10.608zm-1.897 5.729a.63.63 0 0 1-.434.18h-2.35v2.35a.629.629 0 0 1-.18.433.63.63 0 0 1-.433.181.61.61 0 0 1-.615-.614v-2.35h-2.35a.61.61 0 0 1-.613-.614.61.61 0 0 1 .614-.614h2.35v-2.35a.61.61 0 0 1 .614-.614.61.61 0 0 1 .614.615v2.349h2.35a.61.61 0 0 1 .613.614c-.018.163-.072.326-.18.434z"
                          class="tw-fill-current"
                        ></path>
                      </svg>
                      <span>view more</span>
                    </a>
                  </div>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list limited">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="17"
                          height="17"
                          viewBox="0 0 17 17"
                        >
                          <path
                            fill="none"
                            fill-opacity="0"
                            fill-rule="nonzero"
                            stroke="#484848"
                            stroke-width=".9"
                            d="M1.366 8.97l7.08-7.069c.25-.251.587-.464 1.01-.639.422-.175.808-.262 1.158-.262h4.119c.343 0 .64.126.89.376.252.251.377.548.377.891v4.12c0 .349-.087.735-.262 1.158-.175.422-.388.755-.639 1l-7.08 7.089a1.213 1.213 0 0 1-.89.366c-.343 0-.644-.122-.901-.366l-4.862-4.872A1.213 1.213 0 0 1 1 9.872c0-.344.122-.644.366-.902zm10.57-3.906c.247.248.546.372.896.372s.648-.124.896-.372a1.22 1.22 0 0 0 .371-.896c0-.35-.124-.648-.371-.896a1.221 1.221 0 0 0-.896-.371c-.35 0-.649.124-.896.371a1.221 1.221 0 0 0-.372.896c0 .35.124.649.372.896z"
                          ></path>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Tags</h4>
                    </div>
                    <list-item v-for="(item,index) in tags" :key="index" :data="item"/>
                    <div v-if="show_tags_more">
                      <list-item v-for="(item,index) in tags_more" :key="index" :data="item"/>
                    </div>
                  </div>
                  <div class="ais-refinement-list-view-more tw-mt-1">
                    <a class="tw-font-bold tw-flex tw-items-center" @click="show_tags_more = true">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        style="margin-right: 18px;"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M12.804 2.196a7.505 7.505 0 0 0-10.608 0 7.505 7.505 0 0 0 0 10.608 7.505 7.505 0 0 0 10.608 0c2.928-2.927 2.928-7.698 0-10.608zm-1.897 5.729a.63.63 0 0 1-.434.18h-2.35v2.35a.629.629 0 0 1-.18.433.63.63 0 0 1-.433.181.61.61 0 0 1-.615-.614v-2.35h-2.35a.61.61 0 0 1-.613-.614.61.61 0 0 1 .614-.614h2.35v-2.35a.61.61 0 0 1 .614-.614.61.61 0 0 1 .614.615v2.349h2.35a.61.61 0 0 1 .613.614c-.018.163-.072.326-.18.434z"
                          class="tw-fill-current"
                        ></path>
                      </svg>
                      <span>view more</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="md:tw-w-1/5 xl:tw-pr-6 tw-mr-8 md:tw-pb-6 tw-hidden md:tw-block">
              <ul>
                <li class="filterable-item">
                  <form role="search" action class="ais-search-box__form">
                    <div class="search-form tw-bg-gray-panel tw-w-full tw-rounded-full tw-pl-6">
                      <input
                        type="search"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="off"
                        spellcheck="false"
                        class="tw-text-sm ais-input"
                        placeholder="Search"
                        autofocus="autofocus"
                      >
                    </div>
                  </form>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="15"
                          viewBox="0 0 16 15"
                        >
                          <g fill="none" fill-rule="nonzero" stroke="#484848">
                            <path
                              fill="none"
                              stroke-width=".72"
                              d="M8.244 2.33l6.758 4.504a.8.8 0 0 1 0 1.332L8.244 12.67A.8.8 0 0 1 7 12.005v-9.01a.8.8 0 0 1 1.244-.666z"
                            ></path>
                            <path
                              fill="#FFF"
                              stroke-width=".9"
                              d="M2.563 1.066l8.222 5.608a1 1 0 0 1 0 1.652l-8.222 5.608A1 1 0 0 1 1 13.107V1.893a1 1 0 0 1 1.563-.827z"
                            ></path>
                          </g>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Lesson Type</h4>
                    </div>
                    <list-item v-for="(item,index) in lessonType" :key="index" :data="item"/>
                  </div>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="18"
                          height="13"
                          viewBox="0 0 18 13"
                        >
                          <path
                            fill="#484848"
                            fill-rule="nonzero"
                            d="M16.875 1.092H15.74V.686a.35.35 0 0 0-.24-.35 8.976 8.976 0 0 0-2.405-.323c-1.335 0-3.153.315-4.497 1.751C7.265.314 5.434.014 4.103.014a8.976 8.976 0 0 0-2.405.321.35.35 0 0 0-.24.35v.403H.334a.342.342 0 0 0-.334.35v11.185c0 .193.15.35.334.35a.321.321 0 0 0 .163-.045c.033-.018 3.369-1.933 8.025-.7h.08a.318.318 0 0 0 .08 0c4.67-1.244 8.006.668 8.026.7a.32.32 0 0 0 .334 0 .354.354 0 0 0 .166-.302V1.442c0-.193-.149-.35-.333-.35zM.667 12.066V1.792h.797v8.782a.343.343 0 0 0 .384.35c.69-.11 1.387-.169 2.085-.175a8.276 8.276 0 0 1 2.848.452 11.731 11.731 0 0 0-6.114.865zm3.266-2.013a13.99 13.99 0 0 0-1.815.122V.962a8.782 8.782 0 0 1 1.978-.23c1.248 0 2.969.3 4.163 1.715l.01 8.723c-.694-.477-2.048-1.117-4.336-1.117zm5.003-7.606C10.13 1.047 11.851.731 13.1.731a8.82 8.82 0 0 1 1.978.231v9.213a13.987 13.987 0 0 0-1.805-.126c-2.275 0-3.632.64-4.336 1.117V2.447zm7.602 9.62a11.733 11.733 0 0 0-6.128-.866 8.295 8.295 0 0 1 2.862-.452c.703.005 1.404.062 2.098.172a.336.336 0 0 0 .38-.294.366.366 0 0 0 .004-.056V1.792h.797l-.013 10.274z"
                          ></path>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Skill Type</h4>
                    </div>
                    <list-item v-for="(item,index) in skillType" :key="index" :data="item"/>
                  </div>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="10"
                          height="15"
                          viewBox="0 0 10 15"
                        >
                          <g
                            fill="#000"
                            fill-opacity="0"
                            fill-rule="nonzero"
                            stroke="#484848"
                            stroke-width=".9"
                            transform="translate(1 1)"
                          >
                            <rect width="8" height="3" y="10" rx="1.5"></rect>
                            <rect width="8" height="3" y="5" rx="1.5"></rect>
                            <rect width="8" height="3" rx="1.5"></rect>
                          </g>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Difficulty</h4>
                    </div>
                    <list-item v-for="(item,index) in difficulty" :key="index" :data="item"/>
                  </div>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list limited">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="17"
                          height="15"
                          viewBox="0 0 17 15"
                        >
                          <g fill="#000" fill-rule="nonzero">
                            <path
                              d="M16.717 15H.283A.278.278 0 0 1 0 14.727V3.803c0-.151.127-.274.283-.274h16.434c.156 0 .283.123.283.274v10.924a.278.278 0 0 1-.283.273zm-16.15-.546h15.866V4.076H.567v10.378z"
                            ></path>
                            <path
                              d="M14.93 4.412H2.07c-.155 0-.28-.148-.28-.331V2.096c0-.183.125-.331.28-.331h12.86c.155 0 .28.148.28.33v1.986c0 .183-.125.33-.28.33zM2.35 3.75H14.65V2.426H2.35V3.75z"
                            ></path>
                            <path
                              d="M13.148 2.647H3.852c-.15 0-.273-.148-.273-.33V.33C3.579.148 3.7 0 3.852 0h9.296c.15 0 .273.148.273.331v1.985c0 .183-.122.331-.273.331zm-9.022-.662h8.748V.662H4.126v1.323zM6.796 11.47a.515.515 0 0 1-.268-.076.557.557 0 0 1-.265-.482V6.734c0-.201.1-.381.265-.482.166-.1.372-.1.537 0l3.409 2.09c.164.101.263.28.263.48 0 .201-.099.38-.263.482l-3.408 2.089a.514.514 0 0 1-.27.078zm.005-4.737l-.012 4.18 3.42-2.09-3.408-2.09z"
                            ></path>
                          </g>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Series</h4>
                    </div>
                    <list-item v-for="(item,index) in series" :key="index" :data="item"/>
                    <div v-if="show_series_more">
                      <list-item v-for="(item,index) in series_more" :key="index" :data="item"/>
                    </div>
                  </div>
                  <div class="ais-refinement-list-view-more tw-mt-1">
                    <a
                      class="tw-font-bold tw-flex tw-items-center"
                      @click="show_series_more = true"
                      v-if="!show_series_more"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        style="margin-right: 18px;"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M12.804 2.196a7.505 7.505 0 0 0-10.608 0 7.505 7.505 0 0 0 0 10.608 7.505 7.505 0 0 0 10.608 0c2.928-2.927 2.928-7.698 0-10.608zm-1.897 5.729a.63.63 0 0 1-.434.18h-2.35v2.35a.629.629 0 0 1-.18.433.63.63 0 0 1-.433.181.61.61 0 0 1-.615-.614v-2.35h-2.35a.61.61 0 0 1-.613-.614.61.61 0 0 1 .614-.614h2.35v-2.35a.61.61 0 0 1 .614-.614.61.61 0 0 1 .614.615v2.349h2.35a.61.61 0 0 1 .613.614c-.018.163-.072.326-.18.434z"
                          class="tw-fill-current"
                        ></path>
                      </svg>
                      <span>view more</span>
                    </a>
                  </div>
                </li>
                <li class="filterable-item">
                  <div class="ais-refinement-list limited">
                    <div class="tw-flex">
                      <div
                        class="tw-w-8 tw-ml-4 tw-leading-none tw-text-center tw-relative"
                        style="margin-left: 7px;"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="17"
                          height="17"
                          viewBox="0 0 17 17"
                        >
                          <path
                            fill="none"
                            fill-opacity="0"
                            fill-rule="nonzero"
                            stroke="#484848"
                            stroke-width=".9"
                            d="M1.366 8.97l7.08-7.069c.25-.251.587-.464 1.01-.639.422-.175.808-.262 1.158-.262h4.119c.343 0 .64.126.89.376.252.251.377.548.377.891v4.12c0 .349-.087.735-.262 1.158-.175.422-.388.755-.639 1l-7.08 7.089a1.213 1.213 0 0 1-.89.366c-.343 0-.644-.122-.901-.366l-4.862-4.872A1.213 1.213 0 0 1 1 9.872c0-.344.122-.644.366-.902zm10.57-3.906c.247.248.546.372.896.372s.648-.124.896-.372a1.22 1.22 0 0 0 .371-.896c0-.35-.124-.648-.371-.896a1.221 1.221 0 0 0-.896-.371c-.35 0-.649.124-.896.371a1.221 1.221 0 0 0-.372.896c0 .35.124.649.372.896z"
                          ></path>
                        </svg>
                      </div>
                      <h4
                        class="filterable-heading tw-text-base tw-mt-0 tw-flex tw-items-center tw-ml-2"
                      >Tags</h4>
                    </div>

                    <list-item v-for="(item,index) in tags" :key="index" :data="item"/>
                    <div v-if="show_tags_more">
                      <list-item v-for="(item,index) in tags_more" :key="index" :data="item"/>
                    </div>
                  </div>
                  <div class="ais-refinement-list-view-more tw-mt-1">
                    <a
                      class="tw-font-bold tw-flex tw-items-center"
                      v-if="!show_tags_more"
                      @click="show_tags_more = true"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="15"
                        viewBox="0 0 15 15"
                        style="margin-right: 18px;"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M12.804 2.196a7.505 7.505 0 0 0-10.608 0 7.505 7.505 0 0 0 0 10.608 7.505 7.505 0 0 0 10.608 0c2.928-2.927 2.928-7.698 0-10.608zm-1.897 5.729a.63.63 0 0 1-.434.18h-2.35v2.35a.629.629 0 0 1-.18.433.63.63 0 0 1-.433.181.61.61 0 0 1-.615-.614v-2.35h-2.35a.61.61 0 0 1-.613-.614.61.61 0 0 1 .614-.614h2.35v-2.35a.61.61 0 0 1 .614-.614.61.61 0 0 1 .614.615v2.349h2.35a.61.61 0 0 1 .613.614c-.018.163-.072.326-.18.434z"
                          class="tw-fill-current"
                        ></path>
                      </svg>
                      <span>view more</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="primary tw-flex-1 md:tw-mt-5" style="max-width: 1100px;">
              <div class="lesson-list">
                <h2 class="tw-text-3xl tw-text-black tw-mb-6 md:tw-ml-6">Recommended Results</h2>
                <div class="lg:tw-flex tw-mb-6 ais-results">
                  <Recommended v-for="(rec,index) in recommended" :key="index" :data="rec"/>
                </div>
                <h2 class="tw-text-3xl tw-text-black tw-mb-3 md:tw-ml-6">All Results</h2>
                <div class="xl:tw-mr-20 ais-results">
                  <all-result v-for="(item,index) in all_results" :key="index" :data="item"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Header from "../components/Header";
import Recommended from "../components/Search/SearchRecommended";
import ListItem from "../components/Search/SearchListItems";
import AllResult from "../components/Search/SearchResult";
export default {
  name: "Search",
  components: {
    Header,
    Recommended,
    ListItem,
    AllResult
  },
  data() {
    return {
      show_series_more: false,
      show_tags_more: false,
      show_mobile_list: false,
      lessonType: [
        {
          name: "Episode",
          count: 192,
          value: false
        },
        {
          name: "Standalone Lesson",
          count: 86,
          value: false
        },
        {
          name: "Series",
          count: 26,
          value: false
        }
      ],
      skillType: [
        {
          name: "Laravel",
          count: 234,
          value: false
        },
        {
          name: "Tooling",
          count: 32,
          value: false
        },
        {
          name: "PHP",
          count: 17,
          value: false
        },
        {
          name: "JavaScript",
          count: 16,
          value: false
        },
        {
          name: "Testing",
          count: 5,
          value: false
        }
      ],
      difficulty: [
        {
          name: "Advanced",
          count: 31,
          value: false
        },
        {
          name: "Beginner",
          count: 38,

          value: false
        },
        {
          name: "Intermediate",
          count: 235,
          value: false
        }
      ],
      series: [
        {
          name: "Be Awesome in PHPStorm",
          count: 2,
          value: false
        },
        {
          name: "Build A Laravel App With TDD",
          count: 2,
          value: false
        },
        {
          name: "Code Reflections",
          count: 1,
          value: false
        },
        {
          name: "Design Patterns in PHP",
          count: 2,

          value: false
        },
        {
          name: "Discover Symfony Components",
          count: 2,
          value: false
        }
      ],
      series_more: [
        {
          name: "ES2015 Crash Course",
          count: 2,
          value: false
        },
        {
          name: "Envoyer",
          count: 1,
          value: false
        },
        {
          name: "Get Real With Laravel Echo",
          count: 3,
          value: false
        },
        {
          name: "HTML5 Video and VideoJS",
          count: 1,
          value: false
        },
        {
          name: "Hands On: Community Contributions",
          count: 2,
          value: false
        },
        {
          name: "ES2015 Crash Course",
          count: 2,
          value: false
        },
        {
          name: "Envoyer",
          count: 1,
          value: false
        },
        {
          name: "Get Real With Laravel Echo",
          count: 3,
          value: false
        },
        {
          name: "HTML5 Video and VideoJS",
          count: 1,
          value: false
        },
        {
          name: "Hands On: Community Contributions",
          count: 2,
          value: false
        },
        {
          name: "ES2015 Crash Course",
          count: 2,
          value: false
        },
        {
          name: "Envoyer",
          count: 1,
          value: false
        },
        {
          name: "Get Real With Laravel Echo",
          count: 3,
          value: false
        },
        {
          name: "HTML5 Video and VideoJS",
          count: 1,
          value: false
        },
        {
          name: "Hands On: Community Contributions",
          count: 2,
          value: false
        }
      ],
      tags: [
        {
          name: "404",
          count: 1,
          value: false
        },
        {
          name: "Acceptance Testing",
          count: 1,
          value: false
        },
        {
          name: "Adapter",
          count: 1,
          value: false
        },
        {
          name: "Ajax",
          count: 1,

          value: false
        },
        {
          name: "Algolia",
          count: 3,
          value: false
        }
      ],
      tags_more: [
        {
          name: "ES2015 Crash Course",
          count: 2,
          value: false
        },
        {
          name: "Envoyer",
          count: 1,
          value: false
        },
        {
          name: "Get Real With Laravel Echo",
          count: 3,
          value: false
        },
        {
          name: "HTML5 Video and VideoJS",
          count: 1,
          value: false
        },
        {
          name: "Hands On: Community Contributions",
          count: 2,
          value: false
        },
        {
          name: "ES2015 Crash Course",
          count: 2,
          value: false
        },
        {
          name: "Envoyer",
          count: 1,
          value: false
        },
        {
          name: "Get Real With Laravel Echo",
          count: 3,
          value: false
        },
        {
          name: "HTML5 Video and VideoJS",
          count: 1,
          value: false
        },
        {
          name: "Hands On: Community Contributions",
          count: 2,
          value: false
        },
        {
          name: "ES2015 Crash Course",
          count: 2,
          value: false
        },
        {
          name: "Envoyer",
          count: 1,
          value: false
        },
        {
          name: "Get Real With Laravel Echo",
          count: 3,
          value: false
        },
        {
          name: "HTML5 Video and VideoJS",
          count: 1,
          value: false
        },
        {
          name: "Hands On: Community Contributions",
          count: 2,
          value: false
        }
      ],
      recommended: [
        {
          title: "Learn Laravel Mix",
          name: "Tooling",
          text: "Adding PostCss Plu...",
          date: "December 14, 2017",
          link: "/series/learn-laravel-mix/episodes/5",
          link_other: "/series/learn-laravel-mix",
          episode: "Episode #5",
          image:
            "https://laracasts.com/images/series/2018/learn-laravel-mix.svg",
          color: "rgba(36, 37, 38, 0.08) 0px 6px 15px 0px"
        },
        {
          title: "Whip Monstrous Code Into Shape",
          name: "PHP",
          text: "Consider Policies",
          date: "April 20, 2016",
          link: "/series/learn-laravel-mix/episodes/5",
          link_other: "/series/learn-laravel-mix",
          episode: "Episode #7",
          image:
            "https://laracasts.com/images/series/2018/whip-monstrous-code-into-shape.svg",
          color: "rgba(36, 37, 38, 0.08) 0px 6px 15px 0px",
          background: "linear-gradient(180deg,#21c8f6,#637bff)"
        },
        {
          title: "Learn Redis Through Examples",
          name: "Tooling",
          text: "Learn Redis Through Examples",
          date: "November 15, 2016",
          link: "/series/learn-laravel-mix/episodes/5",
          link_other: "/series/learn-laravel-mix",
          episode: "7 Episodes",
          image:
            "https://laracasts.com/images/series/2018/learn-redis-through-examples.svg",
          color: "rgba(36, 37, 38, 0.08) 0px 6px 15px 0px"
        }
      ],
      all_results: [
        {
          title: "Laravel Testing Crash Course",
          name: "Laravel 5.7 From Scratch",
          text: "Adding PostCss Plu...",
          date: "December 14, 2017",
          link: "/series/learn-laravel-mix/episodes/5",
          link_other: "/series/learn-laravel-mix",
          episode: "Episode #5",
          image:
            "https://laracasts.com/images/series/2018/learn-laravel-mix.svg",
          color: "#E05676",
          difficulty: "Intermediate",
          topic: "Laravel"
        },
        {
          title: "Laravel Testing Crash Course",
          name: "Laravel 5.7 From Scratch",
          text: "Adding PostCss Plu...",
          date: "December 14, 2017",
          link: "/series/learn-laravel-mix/episodes/5",
          link_other: "/series/learn-laravel-mix",
          episode: "Episode #5",
          image:
            "https://laracasts.com/images/series/2018/learn-laravel-mix.svg",
          color: "#E05676",
          difficulty: "Intermediate",
          topic: "Laravel"
        },
        {
          title: "Laravel Testing Crash Course",
          name: "Laravel 5.7 From Scratch",
          text: "Adding PostCss Plu...",
          date: "December 14, 2017",
          link: "/series/learn-laravel-mix/episodes/5",
          link_other: "/series/learn-laravel-mix",
          episode: "Episode #5",
          image:
            "https://laracasts.com/images/series/2018/learn-laravel-mix.svg",
          color: "#946cd1",
          difficulty: "Beginner",
          topic: "Tooling"
        },
        {
          title: "Laravel Testing Crash Course",
          name: "Laravel 5.7 From Scratch",
          text: "Adding PostCss Plu...",
          date: "December 14, 2017",
          link: "/series/learn-laravel-mix/episodes/5",
          link_other: "/series/learn-laravel-mix",
          episode: "Episode #5",
          image:
            "https://laracasts.com/images/series/2018/learn-laravel-mix.svg",
          color: "#E05676",
          difficulty: "Intermediate",
          topic: "Laravel"
        },
        {
          title: "Laravel Testing Crash Course",
          name: "Laravel 5.7 From Scratch",
          text: "Adding PostCss Plu...",
          date: "December 14, 2017",
          link: "/series/learn-laravel-mix/episodes/5",
          link_other: "/series/learn-laravel-mix",
          episode: "Episode #5",
          image:
            "https://laracasts.com/images/series/2018/learn-laravel-mix.svg",
          color: "#E05676",
          difficulty: "Intermediate",
          topic: "Laravel"
        }
      ]
    };
  }
};
</script>

<style scoped>
.section:last-child {
  padding-top: 40px;
  padding-bottom: 40px;
}
.filterable-item:not(:last-child) {
  margin-bottom: 1rem;
  padding-bottom: 0.7rem;
}

.ais-input {
  border-radius: 9999px;
  background-color: transparent;
  width: 100%;
  padding: 0.75rem 1rem;
  margin-right: 1rem;
}

.ais-refinement-list-view-more {
  padding: 0.25rem 0rem 0.25rem 1rem;
}

.ais-refinement-list-view-more * {
  color: #3490dc;
}
@media (max-width: 768px) {
  .ais-index .sidebar {
    height: 50%;
    z-index: 10;
    background: #fff;
    position: fixed;
    bottom: 0;
    box-shadow: 0 -5px 11px rgba(36, 37, 38, 0.08);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    margin-left: -20px;
    width: 100%;
    overflow-y: scroll;
  }
}
@media (min-width: 768px) {
  .new-nav a.is-active {
    position: relative;
    color: #fff;
  }

  .new-nav a.is-active:after {
    content: "";
    width: 90px;
    display: block;
    border-bottom: 5px solid #fff;
    position: absolute;
    bottom: 0;
    left: calc(50% - 45px);
    border-radius: 9999px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
</style>

