<template>
  <div class="ban-clip tw-hidden lg:tw-block lg:tw-absolute"></div>
</template>


<script>
export default {};
</script>

<style scoped>


.ban-clip {
    background: linear-gradient(118deg, #328bf2, #1644ad);
    border-radius: 54% 46% 64% 36%/64% 42% 58% 36%;
    width: 80vw;
    height: 120vh;
    top: -250px;
    right: -300px;
    z-index: -1;
}

@media (min-width: 1200px) {
    .ban-clip {
        display: none;
    }
}
</style>
