* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    color: #22292f;
    line-height: 1.3;
    font-family: "Open Sans", sans-serif;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #4f4f4f;
    cursor: pointer;
}

a:hover {
    opacity: 0.8;
    transition: 200ms ease-in-out;
    color: unset;
}

input:focus,
button:focus {
    box-shadow: none;
    outline: none;
}

input.transparent {
    background: none;
    border: none;
    color: white;
}

.tw-h-fit-content {
    height: fit-content;
    height: moz-fit-content;
}

.transparent-50 {
    opacity: 0.5;
}

.font-sm {
    font-size: 0.7rem;
}

.font-md {
    font-size: 0.875rem;
}

.font-lg {
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    .font-sm {
        font-size: 0.8rem;
    }

    .font-lg {
        font-size: 1.6rem;
    }
}

.light-grey {
    color: #8795a1;
}

.centered-heading {
    font-size: 1.875rem;
    letter-spacing: -0.02em;
    color: #22292f;
    margin-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 736px) and (orientation: portrait) {
    .centered-heading {
        max-width: 300px;
    }
}

/* #nav-icon{
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: white;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1), #nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3), #nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5), #nav-icon span:nth-child(6) {
  top: 36px;
}

#nav-icon.open span:nth-child(1),#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
} */

/* #nav-icon *{
    color: white
} */

.section {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1920px;
    margin: auto;
}

.section.home {
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .section {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.menu-border {
    border: 1px solid white;
    border-radius: 40px;
}

.menu-border-dark {
    border: 1px solid black;
    border-radius: 40px;
}

.menu ul li:nth-child(3):hover > a {
    opacity: 0.8;
    transition: 100ms linear;
}

.menu ul li:first-child:hover > a {
    text-decoration: underline;
    transition: 100ms linear;
}

.menu ul li:nth-child(2):hover > a {
    background: white;
    color: #3490dc;
    transition: 200ms linear;
}

.mobile,
.search {
    top: 0;
    left: 0;
    height: 0px;
    z-index: -1;
    transition: 100ms ease-in-out 100ms;
}

.mobile *,
.search *:not(svg) {
    opacity: 0;
    transition: 100ms ease-in-out;
}

.mobile.show,
.search.show:not(svg) {
    height: 100%;
    z-index: 200;
    transition: 500ms ease-in-out;
}

.mobile.show *,
.search.show *:not(svg) {
    opacity: 1;
    transition: 300ms ease-in-out 200ms;
}

.banner {
    height: 100%;
}

.banner > div:first-child {
    left: 20px;
}

.banner-options > a:first-child {
    transition: 200ms ease-in-out;
    background: #3490dc;
    border-radius: 30px;
    opacity: 0.8;
}

.banner-options > a:nth-child(2) {
    transition: 200ms ease-in-out;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.banner-options > a:first-child:hover {
    transition: 200ms ease-in-out;
    opacity: 1;
}

.banner-options > a:nth-child(2):hover {
    transition: 200ms ease-in-out;
    border: 1px solid #3490dc;
    color: #3490dc;
}

@media (min-width: 1300px) {
    .plan-section {
        background-image: url(https://laracasts.com/images/home/plans-bg-left-wire.svg),
            url(https://laracasts.com/images/home/plans-bg-left.svg),
            url(https://laracasts.com/images/home/plans-bg-right.svg);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 10%, 0 100%, 100% 100%;
    }
}

.plans-toggle-wrap {
    background: url(../img/border.svg);
    width: 221px;
    height: 40px;
}

.plan.active {
    background-image: linear-gradient(125deg, #21c8f6, #637bff);
    transition: 100ms ease-in-out;
    border-radius: 18px;
}

@media (min-width: 768px) {
    .about-him {
        background-image: url(https://laracasts.com/images/jeffrey-speaking-bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.flickity-viewport {
    cursor: default;
}

.carousel:hover .flickity-prev-next-button:hover {
    background-color: #2779bd;
}

.carousel:hover .flickity-prev-next-button {
    width: 150px;
    height: 150px;
    background: #fff;
    background-color: #328af1;
}

.carousel:hover .flickity-prev-next-button,
.flickity-prev-next-button {
    position: absolute;
    top: 50%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.flickity-prev-next-button.next {
    right: -75px;
}
.flickity-prev-next-button {
    width: 44px;
    height: 44px;
    background: #fff;
    background: hsla(0, 0%, 100%, 0.75);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: width 0.3s;
}
.carousel:hover .flickity-prev-next-button.previous svg {
    left: auto;
    right: 14%;
}

.carousel:hover .flickity-prev-next-button svg {
    position: absolute;
    top: 30%;
    width: 20%;
    height: 40%;
}

.flickity-prev-next-button svg {
    fill: white;
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
    transition: fill 0.3s;
}

.flickity-button.flickity-prev-next-button.previous {
    left: -6%;
}
.new-nav {
    background: url("https://laracasts.com/images/home/home-banner-blue-swirl-mobile.svg")
        no-repeat;
    background-size: 100%;
    background-position: bottom;
}

@media screen and (min-width: 565px) {
    .new-nav {
        background-position: top;
    }
}

@media (min-width: 768px) {
    .new-nav {
        background-image: linear-gradient(90deg, #5b79a2, #2e4469);
        background-position: 0 0;
    }
}

.tw-text-transparent-50 {
    color: rgba(255, 255, 255, 0.5);
}

.tw-text-3xs {
    font-size: 0.5rem;
}

.tw-bg-grey-panel {
    background-color: #f6f6f6;
}

.tw-bg-black-transparent-10 {
    background-color: rgba(0, 0, 0, 0.1);
}

.bg-gradient-tooling {
    background-image: linear-gradient(180deg, #8b60ed, #b372bd);
}
